a.isobar-quickview {
    text-align: center;;
    background: #eee;
    top: 51%;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 9999;
    text-decoration: none;
    opacity: 0.8;
    display: none;
    margin-left: -9px;
}
/*a.isobar-quickview h3 {
    margin: 10px 0;
}*/
div.product-item-info:hover a.isobar-quickview {
    display:block;
    cursor: pointer;
    text-decoration: none;
}
.isobar-quickview-modal-btn {
    display: none;
}
.isobar-quickview-modal footer.modal-footer {
    display: none;
}