<span data-bind="text: rendertxt()"></span>
<!-- ko if: (hasCustomer) -->
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Name</th>
        <th>Created At</th>
    </tr>
    </thead>
    <tbody data-bind="foreach: getListCustomers()">
    <tr>
        <td data-bind="text: entity_id"></td>
        <td data-bind="text: email"></td>
        <td data-bind="text: firstname  + ' ' + lastname"></td>
        <td data-bind="text: created_at"></td>
    </tr>
    </tbody>
</table>
<!--/ko-->

<!-- ko foreach: getRegion('banner.child') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->

