<div id="delivery-date" style="padding-top:10px;">
    <strong><?php echo __('Delivery Date') ?>:</strong>
    <?php var_dump($block->getDeliveryDate());?>
    <span class="deliverydate">
        <?php echo $block->formatDate($block->getDeliveryDate(), \IntlDateFormatter::LONG) .' at '. $block->formatTime($block->getDeliveryDate(), \IntlDateFormatter::LONG) ?>
    </span>
</div>
<div id="delivery-comment" style="padding-bottom:10px;">
    <strong><?php echo __('Comment') ?>:</strong>
    <br/>
    <span class="deliverycomment"><?php echo $block->getDeliveryComment() ?></span>
</div>