<hr/>
<div xmlns="http://www.w3.org/1999/html">
    <span data-bind="text: renderTxtForExample()"></span>
    <hr/>
    <div>
        <!-- ko foreach: getRegion('banner.child.child1') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </div>
</div>

