#onepage-checkout-shipping-method-additional-load {
    margin-top: 20px
}
#onepage-checkout-shipping-method-additional-load > div {
    margin-bottom: 20px;
}

#onepage-checkout-shipping-method-additional-load div.control {
    margin-top: 8px;
}

#onepage-checkout-shipping-method-additional-load label.label:after {
    content: '*';
    color: #e02b27;
    font-size: 1.2rem;
    margin: 0 0 0 5px;
}