<?php
    $banners = $block->getBannerCollection();
    $items = $banners->getItems();
?>
<div class="isobar-bannerslider-wrapper" style="text-align:center;">
<?php if (count($items)): ?>
    <div class='flexslider'>
        <ul class="slides">
            <?php foreach($items as $item): ?>
                <?php if($item->getImg()):?>
                <li>
                    <a target="_blank" href="<?php echo $item->getImgLink() ?>">
                        <img alt="<?php echo $item->getAlt()?>" src="<?php echo $item->getImg() ?>">
                    </a>
                </li>
                <?php endif;?>
            <?php endforeach; ?>
        </ul>
    </div>
    <script type="text/javascript">
        require(['jquery', 'flexSlider'], function(jQuery) {
                jQuery(document).ready(function() {
                    jQuery('.flexslider').flexslider({
                        animation: 'slide',
                        smoothHeight: true,
                        controlNav: false,
                        start: function(e) {
                            var caption = jQuery(e).find('.flex-caption');
                            var height = caption.outerHeight();
                            caption.css('margin-top', '-' + height + 'px');
                        }
                    });
                });
            }
        );
    </script>
<?php endif; ?>
</div>
<div id="nhat" data-bind="scope: 'banner'">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>
<script type="text/x-magento-init">
      {
          "#nhat": {
              "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>
          }
      }
  </script>

