<div class="isobar-quickview-modal" id="isobar-quickview-modal"></div>
<script type="text/javascript">
    var productUrl = '<?php echo $block->getUrl('isobarquickview/view/ajax')?>';
    var ajaxUrl = '<?php echo $block->getUrl('isobarquickview/index/updatecart')?>';;
    require(['jquery', 'modal_widget'], function($, modal) {
        $('a.isobar-quickview').click(function(event) {
            var options = {
                type: 'popup',
                modalClass: 'isobar-quickview-modal',
                responsive: true,
                innerScroll: true,
                buttons: [{
                    text: $.mage.__('Continue'),
                    class: 'isobar-quickview-modal-btn',
                    click: function () {
                        this.closeModal();
                    }
                }]
            };
            var productId = $(this).attr('data-id');
            var page = productUrl + 'id/' + productId;
            $('#isobar-quickview-modal').html('<iframe style="border: 0px; height: 600px;" src="' + page + '" width="100%" height="100%"></iframe>');
            var popup = modal(options, $('#isobar-quickview-modal'));
            $('#isobar-quickview-modal').modal('openModal').on('modalclosed', function() {
                updateMiniCart();
            });
            event.stopPropagation();
        });
        function updateMiniCart() {
            $.ajax({
                url: ajaxUrl,
                type: "post",
                data: {},
                success: function(data) {
                }
            });
        }
    });
</script>
