<div id="delivery-date" style="padding-top:10px;">
    <strong><?php echo __('Delivery Date') ?>:</strong>
    <?php
    $deliveryAdminDate = $block->formatDate(
        $block->getDeliveryAdminDate($block->getDeliveryDate()),
        \IntlDateFormatter::LONG,
        true
    );
    ?>
    <span class="deliverydate">
        <?php echo $deliveryAdminDate ?>
    </span>
</div>
<div id="delivery-comment" style="padding-bottom:10px;">
    <strong><?php echo __('Comment') ?>:</strong>
    <br/>
    <span class="deliverycomment"><?php echo $block->getDeliveryComment() ?></span>
</div>
<?php if ('sales_order_view' === $this->helper('Isobar\Deliverydate\Helper\Data')->getPageName()):?>
    <script type="text/javascript">
        require(
            ['jquery'],
            function($) {
                var element = $('#delivery-date').detach();
                $('.order-shipping-method').append(element);
                var element = $('#delivery-comment').detach();
                $('.order-shipping-method').append(element);
            }
        );
    </script>
<?php endif;?>